.container_navbar { /* contenedor primario */
    background: #1E5F8E;
    padding: 10px 25px 10px 25px;
}

.container_navbar_right { /* contenedor derecho */
    display: flex;
    align-items: center;
    justify-content: right;
}
.container_navbar_left { /* contenedor izquierdo */
    display: flex;
    align-items: center;
    justify-content: left;
}

.container_button_navbar { /* clase del contenedor de buttons en el navbar */
    padding-top: 15px
}

.navbar_image_group { /* clase de la imagen del navbar */
    height: 70px;
}
.navbar_image_group_reponsive {
    display:none
}

.lista_button_navbar {  /* lista de los botones del navbar */
    list-style: none;
    display: inline-block;
}
.lista_button_navbar li {  /* elementos de la lista del navbar */
    display: inline-block;
}
.elemento_lista_button_navbar {
    margin-left: 10px;
    margin-right: 10px;
}
.elemento_lista_button_navbar a {
    text-decoration: none;
    color:#fff
}

.button_inscribibete {
    background:#fff;
    color: #1E5F8E;
    font-weight: bold;
}
.button_lenguaje {
    background:#60B6D3;
    color: #fff;
    font-weight: bold;
}
/* END del navbar */

/* header de la web */
header {
    background: url(../images/Union3.png) no-repeat center center;
    background-size: cover;
}
.header_mensaje_title {
    color:#1E5F8E;
    font-weight: 600;
}
header h5 {
    font-weight: 800;
    margin:0px
}

.header_button_inscribete {
    background:#1E5F8E;
    color:#fff;
    padding-right:25px;
    padding-left:25px;
}
.container_contenido_info_left {  /* capa que engloba a todo el contenido informativo del evento */
    margin:100px 0px 100px 0px;
}

.contenedor_hora_empezar {  /* Contenedor con toda la hora disponible */
    margin-bottom: 30px
}
.hora_empezar {
    margin-left:10px;
    margin-right:10px;
    display:inline-block;
    text-align: center;
}
.hora_empezar h1 {
    color:#1E5F8E;
    font-weight: 700;
    margin:0px
}
.hora_empezar div {
    color:#1E5F8E;
    font-size: 14px;
    font-weight: 600;
}
.hora_empezar_dospuntos {
    display:inline-block;
}
.hora_empezar_dospuntos div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor_empezamos_en {
    font-weight: 700;
}

.contendor_fechar_lugar {  /* dias de exposivion y lugar */
    margin-top:30px;
    margin-bottom:30px
}
/* END header */

/* contenedor de las bienvenidas */
.container_mensaje_bienvenida {
    margin:30px 0px 30px 0px;
}
.container_mensaje_bienvenida > h2 {
    color:#1E5F8E;
    font-weight: 600;
    margin:0px
}
/* END bienvenidas */

/* contenedor de newsletter */
.contenedor_newsletter {
    background: #287DA5;
    padding:30px 0px 30px 0px;
}
.button_right_newsletter {
    background: #1E5F8E;
    color: #fff;
    padding-left:20px;
    padding-right: 20px;
    cursor:pointer;
    border: #1E5F8E;
}

/* Contenedor Streaming */
.contenedor_streaming {
    padding:30px 0px
}
.contenedor_streaming > h2 {
    color:#1E5F8E;
    font-weight: 600;
    margin:0px
}

.contenedor_streaming_video {
    margin-top:30px;
    margin-bottom:30px
}
.contenedor_streaming_video > iframe {
    width: 100%;
    height: 535px;
}
/* END streaming */

/* footer */
.container_footer {
    background: #1E5F8E;
    padding-top:30px;
    color: #fff;
}
.contenedor_enlaces_redes_cosiales {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top:30px
}
.contenedor_enlaces_redes_cosiales a {
    margin-left: 10px;
    margin-right: 10px;
    color:#fff
}

.container_footer_down {
    background: #287DA5;
    padding: 30px 0px;
    margin-top:20px;
}
.container_footer_down a {
    color:#5AB0CE;
    text-decoration: none;
}
/* END footer */

/* contenedor de ponentes */
.container_ponentes {
    background:#1E5F8E;
    padding:30px 0px
}
.title_ponentes {
    color:#fff;
    font-weight: 600;
}
.container_ponentes_nombre_apellido {
    color:#fff;
    font-weight: 600;
    margin-bottom:5px;
}
.container_ponentes_nombre {
    color: #5EB3D1;
    margin-bottom: 5px;
}

.container_ponentes_link_redes_sociales a {
    color: #60B6D3;
    text-decoration: none;
}
.container_card_nombre_apellido {
    margin:15px 0px;
}
/* END ponentes */


/* Estilos para responsive */
@media only screen and ( max-width: 540px ) {
    .header_mensaje_title {
        text-align: center;
    }

    .container_contenido_info_left {
        margin: 30px 0px 50px 0px;
    }

    .container_navbar_right {
        display:none;
    }

    .navbar_image_group {
        display:none;
    }
    .navbar_image_group_reponsive {
        display:inline-block;
        width: 90%;
    }

    .header_button_inscribete {
        width: 100%;
        padding: 20px 0px;
    }

    .div_button_menu_lateral {
        position:absolute;
        top: 25px;
        right: 15px;
        z-index: 10px;
        color:#fff;
    }
    .div_button_menu_lateral > i {
        font-size: 25px;
        cursor: pointer;
    }

    .contenedor_enlaces_redes_cosiales {
        justify-content: center;
    }

    .image_jornada_footer {
        max-width:100%;
    }

    .contenedor_streaming_video > iframe {
        width:100%;
        height:300px;
    }
}