.container_navbar { /* contenedor primario */
    background: #1E5F8E;
    padding: 10px 25px 10px 25px;
}

.container_navbar_right { /* contenedor derecho */
    display: flex;
    align-items: center;
    justify-content: right;
}
.container_navbar_left { /* contenedor izquierdo */
    display: flex;
    align-items: center;
    justify-content: left;
}

.container_button_navbar { /* clase del contenedor de buttons en el navbar */
    padding-top: 15px
}

.navbar_image_group { /* clase de la imagen del navbar */
    height: 70px;
}

.lista_button_navbar {  /* lista de los botones del navbar */
    list-style: none;
    display: inline-block;
}
.lista_button_navbar li {  /* elementos de la lista del navbar */
    display: inline-block;
}
.elemento_lista_button_navbar {
    margin-left: 10px;
    margin-right: 10px;
}
.elemento_lista_button_navbar a {
    text-decoration: none;
    color:#fff
}

.button_inscribibete {
    background:#fff;
    color: #1E5F8E;
    font-weight: bold;
}
.button_lenguaje {
    background:#60B6D3;
    color: #fff;
    font-weight: bold;
}

header {
    background: url(../images/Union3.png) no-repeat center center;
    background-size: cover;
}
.header_mensaje_title {
    color:#1E5F8E;
    font-weight: 600;
    margin-top:100px
}
header h5 {
    font-weight: 800;
    margin:0px
}

.header_button_inscribete {
    background:#1E5F8E;
    color:#fff;
    padding-right:25px;
    padding-left:25px;
    margin-bottom: 100px;
}

.contenedor_hora_empezar {  /* Contenedor con toda la hora disponible */
    margin-bottom: 30px
}
.hora_empezar {
    margin-left:10px;
    margin-right:10px;
    display:inline-block;
    text-align: center;
}
.hora_empezar h1 {
    color:#1E5F8E;
    font-weight: 700;
    margin:0px
}
.hora_empezar div {
    color:#1E5F8E;
    font-size: 14px;
    font-weight: 600;
}
.hora_empezar_dospuntos {
    display:inline-block;
}
.hora_empezar_dospuntos div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor_empezamos_en {
    font-weight: 700;
}

.contendor_fechar_lugar {  /* dias de exposivion y lugar */
    margin-top:30px;
    margin-bottom:30px
}